.test{
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: aqua;
    color: orange;
}
.link{
    text-decoration: none;
    color:green ;
    padding: 2rem;
    margin: 2rem;
    line-height: 2rem;
}
.link:hover{
    
    color:red ;
}
footer ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}